 <footer class="footer">
        <div class="container">
        	<div class="row social">
        		<div class="col-xs-12">
        			<%= link_to root_path, id: "logo" do %>
				  		<i class="fa fa-twitter"></i>
					<% end %>
        			<%= link_to root_path, id: "logo" do %>
				  		<i class="fa fa-facebook"></i>
					<% end %>
        			<%= link_to root_path, id: "logo" do %>
				  		<i class="fa fa-linkedin"></i>
					<% end %>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-xs-12">
                    <ul class="list-inline">
                        <li>
                        	<%= link_to "BLOG", root_path %>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                        	<%= link_to "JOBS" %>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                        	 <%= link_to "LEGAL" %>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                        	 <%= link_to "STATUS" %>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                        	 <%= link_to "ABOUT" %>
                        </li>
                    </ul>
                </div>
             </div>
             <div class="row copyright">
             	<p class="text-muted small">&copy; 2015 LOB.COM, INC. BUILT IN SAN FRANCISCO</p>
             </div>
        </div>
    </footer>